<div id="jokes-envoyer">
    <div class="bg-my-primary p-4 rounded">
        <template v-if="isLoading">
            <div class="spinner-border text-light mb-4" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </template>
        <template v-if="isAccept === true">
            <div class="alert alert-success mb-4" role="alert">Succès: votre blague va être examinée par les administrateurs</div>
        </template>
        <template v-if="isAccept === false">
            <div class="alert alert-danger mb-4" role="alert">Oups.. Une erreur est sourvenue</div>
        </template>
        <div class="form-group">
            <label for="joke" class="h3">Joke</label>
            <textarea class="form-control" id="joke" v-model="form.joke" placeholder="Blague traduite en anglais"></textarea>
        </div>
        <div class="form-group py-4">
            <label for="joke" class="h3">Type de blague</label>
            <template v-for="category in categories">
                <div class="mt-2">
                    <input type="radio" name="category" :id="category" v-model="form.category" :value="form.category">
                    <label :for="category">{{ category }}</label>
                </div>
            </template>
        </div>
        <div class="form-group py-4">
            <label for="joke" class="h3">Filtres</label>
            <template v-for="flag in flags">
                <div class="mt-2">
                    <input type="checkbox" name="flag" :id="flag" v-model="form.flags[flag]">
                    <label :for="flag">{{ flag }}</label>
                </div>
            </template>
        </div>
        <button class="btn btn-light" @click="sendJoke">Envoyer</button>
    </div>
</div>

<script>
    new Vue({
        el: '#jokes-envoyer',
        data: {
            isAccept: null,
            joke: {},
            widgetSelect: myApp.widgetSelect,
            isLoading: false,
            categories: ["Miscellaneous","Programming","Dark","Pun","Spooky","Christmas"],
            flags: ["nsfw", "religious", "political", "racist", "sexist"],
            form: {
                formatVersion: 3,
                category: "Miscellaneous",
                type: "single",
                joke: "",
                flags: {
                    nsfw: false,
                    religious: false,
                    political: false,
                    racist: false,
                    sexist: false
                },
                lang: "en"
            }
        },
        computed: {
        },
        methods: {
            sendJoke() {
                this.isLoading = true
                axios.post(this.widgetSelect.urlApiRequest, this.form)
                .then((response) => {
                    console.log(response.data)
                    this.isLoading = false
                    this.resetForm()
                    this.isAccept = true
                })
                .catch(() => {
                    this.isLoading = false
                    this.isAccept = false
                })
            },
            resetForm() {
                this.form = {
                    category: "Miscellaneous",
                    type: "single",
                    joke: "",
                    flags: {
                        nsfw: false,
                        religious: false,
                        political: false,
                        racist: false,
                        sexist: false
                    },
                    lang: "en"
                }
            }
        },
        mounted() {
        }
    });
</script>