<div id="cinema-suggestion">
    <div class="bg-my-primary p-3 rounded mb-4">
        <div class="mb-2">
            <small>Choisir un genre:</small>
        </div>
        <select v-model="genreSelect" class="form-control">
            <template v-for="genre in genres">
                <option :value="genre.id">{{ genre.name }}</option>
            </template>
        </select>
        <button class="btn bg-light-my-primary mt-3" @click="getSuggestion">Rechercher</button>
    </div>

    <template v-if="isLoading">
        <div class="spinner-border text-light my-4" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </template>

    <img v-if="filmData && filmData.Search && filmData.Search.length > 0" :src="filmData.Search[0].Poster" class="w-50 mb-4 rounded">
    <h3>{{ film.title }}</h3>
    <small v-if="filmData && filmData.Search && filmData.Search.Year">{{ filmData.Search.Year }}</small>
    <p>{{ film.overview }}</p>
</div>

<script>
    new Vue({
        el: '#cinema-suggestion',
        data: {
            widgetSelect: myApp.widgetSelect,
            film: {},
            filmData: null,
            isLoading: false,
            genreSelect: 0,
            genres: [{
                "id": 0,
                "name": "Tous les genres"
            },
                {
                "id": 5,
                "name": "Action & Adventure",
                "content_kind": "both",
                "slug": "action-and-adventure",
                "hidden": false
            }, {
                "id": 6,
                "name": "Animation",
                "content_kind": "both",
                "slug": "animation",
                "hidden": false
            }, {
                "id": 39,
                "name": "Anime",
                "content_kind": "both",
                "slug": "anime",
                "hidden": false
            }, {
                "id": 46,
                "name": "Arts & Culture",
                "content_kind": "both",
                "slug": "arts-and-culture",
                "hidden": true
            }, {
                "id": 7,
                "name": "Biography",
                "content_kind": "movie",
                "slug": "biography",
                "hidden": false
            }, {
                "id": 8,
                "name": "Children",
                "content_kind": "both",
                "slug": "children",
                "hidden": false
            }, {
                "id": 40,
                "name": "Classics",
                "content_kind": "both",
                "slug": "classics",
                "hidden": true
            }, {
                "id": 9,
                "name": "Comedy",
                "content_kind": "both",
                "slug": "comedy",
                "hidden": false
            }, {
                "id": 10,
                "name": "Crime",
                "content_kind": "both",
                "slug": "crime",
                "hidden": false
            }, {
                "id": 41,
                "name": "Cult",
                "content_kind": "movie",
                "slug": "cult",
                "hidden": false
            }, {
                "id": 11,
                "name": "Documentary",
                "content_kind": "both",
                "slug": "documentary",
                "hidden": false
            }, {
                "id": 3,
                "name": "Drama",
                "content_kind": "both",
                "slug": "drama",
                "hidden": false
            }, {
                "id": 42,
                "name": "Faith & Spirituality",
                "content_kind": "both",
                "slug": "faith-and-spirituality",
                "hidden": true
            }, {
                "id": 12,
                "name": "Family",
                "content_kind": "both",
                "slug": "family",
                "hidden": false
            }, {
                "id": 13,
                "name": "Fantasy",
                "content_kind": "both",
                "slug": "fantasy",
                "hidden": false
            }, {
                "id": 14,
                "name": "Film-Noir",
                "content_kind": "both",
                "slug": "film-noir",
                "hidden": true
            }, {
                "id": 15,
                "name": "Food",
                "content_kind": "show",
                "slug": "food",
                "hidden": false
            }, {
                "id": 16,
                "name": "Game Show",
                "content_kind": "show",
                "slug": "game-show",
                "hidden": false
            }, {
                "id": 47,
                "name": "Health & Wellness",
                "content_kind": "both",
                "slug": "health-and-wellness",
                "hidden": true
            }, {
                "id": 17,
                "name": "History",
                "content_kind": "both",
                "slug": "history",
                "hidden": false
            }, {
                "id": 18,
                "name": "Home & Garden",
                "content_kind": "show",
                "slug": "home-and-garden",
                "hidden": false
            }, {
                "id": 19,
                "name": "Horror",
                "content_kind": "both",
                "slug": "horror",
                "hidden": false
            }, {
                "id": 43,
                "name": "Independent",
                "content_kind": "movie",
                "slug": "independent",
                "hidden": false
            }, {
                "id": 44,
                "name": "International",
                "content_kind": "both",
                "slug": "international",
                "hidden": true
            }, {
                "id": 48,
                "name": "Korean Drama",
                "content_kind": "both",
                "slug": "korean",
                "hidden": true
            }, {
                "id": 37,
                "name": "LGBTQ",
                "content_kind": "both",
                "slug": "lgbtq",
                "hidden": false
            }, {
                "id": 49,
                "name": "Latino",
                "content_kind": "both",
                "slug": "latino",
                "hidden": true
            }, {
                "id": 50,
                "name": "Lifestyle",
                "content_kind": "both",
                "slug": "lifestyle",
                "hidden": true
            }, {
                "id": 20,
                "name": "Mini-Series",
                "content_kind": "both",
                "slug": "mini-series",
                "hidden": true
            }, {
                "id": 21,
                "name": "Music",
                "content_kind": "both",
                "slug": "music",
                "hidden": true
            }, {
                "id": 22,
                "name": "Musical",
                "content_kind": "movie",
                "slug": "musical",
                "hidden": false
            }, {
                "id": 23,
                "name": "Mystery",
                "content_kind": "both",
                "slug": "mystery",
                "hidden": false
            }, {
                "id": 24,
                "name": "News",
                "content_kind": "both",
                "slug": "news",
                "hidden": true
            }, {
                "id": 25,
                "name": "Reality",
                "content_kind": "show",
                "slug": "reality",
                "hidden": false
            }, {
                "id": 4,
                "name": "Romance",
                "content_kind": "movie",
                "slug": "romance",
                "hidden": false
            }, {
                "id": 26,
                "name": "Science-Fiction",
                "content_kind": "both",
                "slug": "science-fiction",
                "hidden": false
            }, {
                "id": 27,
                "name": "Soap",
                "content_kind": "both",
                "slug": "soap",
                "hidden": true
            }, {
                "id": 28,
                "name": "Special Interest",
                "content_kind": "both",
                "slug": "special-interest",
                "hidden": true
            }, {
                "id": 29,
                "name": "Sport",
                "content_kind": "both",
                "slug": "sport",
                "hidden": false
            }, {
                "id": 45,
                "name": "Stand-up & Talk",
                "content_kind": "both",
                "slug": "stand-up-and-talk",
                "hidden": false
            }, {
                "id": 30,
                "name": "Suspense",
                "content_kind": "both",
                "slug": "suspense",
                "hidden": true
            }, {
                "id": 31,
                "name": "Talk Show",
                "content_kind": "both",
                "slug": "talk-show",
                "hidden": true
            }, {
                "id": 32,
                "name": "Thriller",
                "content_kind": "movie",
                "slug": "thriller",
                "hidden": false
            }, {
                "id": 33,
                "name": "Travel",
                "content_kind": "show",
                "slug": "travel",
                "hidden": false
            }, {
                "id": 34,
                "name": "Variety",
                "content_kind": "both",
                "slug": "variety",
                "hidden": true
            }, {
                "id": 35,
                "name": "War",
                "content_kind": "movie",
                "slug": "war",
                "hidden": true
            }, {
                "id": 36,
                "name": "Western",
                "content_kind": "movie",
                "slug": "western",
                "hidden": true
            }]
        },
        methods: {
            getFilmInformations(filmName) {
                axios.get("http://www.omdbapi.com/?apikey=76efaebe&s=" + encodeURI(filmName))
                    .then((response) => {
                        this.filmData = response.data
                    })
            },

            getSuggestion() {
                this.isLoading = true
                axios.get(this.widgetSelect.urlApiRequest + '&genre=' + this.genreSelect)
                .then((response) => {
                    this.film = response.data
                    this.getFilmInformations(response.data.title)
                    this.isLoading = false
                })
            }
        },
        mounted() {
        }
    });
</script>