<div id="jokes-envoyer">
    <div class="bg-my-primary p-4 rounded">
        <select v-model="searchInput" @change="sendSearch" class="form-control">
            <option value="Ordinary_Drink">Ordinaire</option>
            <option value="Cocktail">Cocktails</option>
            <option value="random">Random</option>
        </select>
    </div>

    <div class="mt-3" v-if="cocktails && cocktails.length <= 0">
        Aucun résultat
    </div>
    <div class="mt-3" v-if="cocktails && cocktails.length > 0">
        <h5 class="mb-4">Résultat pour <b>{{ searchInput }}</b> ({{ cocktails.length }})</h5>
        <template v-for="cocktail in cocktails">
            <div class="bg-my-primary rounded p-3 mb-3">
                <div class="d-flex">
                    <div class="col-3">
                        <img :src="cocktail.strDrinkThumb" class="w-100">
                    </div>
                    <div class="ml-3">
                        <h3>{{ cocktail.strDrink }}</h3>
                        <p>{{ cocktail.strInstructions }}</p>
                        <ul>
                            <template v-for="i in 15">
                                <li v-if="cocktail['strIngredient' + i]">
                                    {{ cocktail['strIngredient' + i] }}
                                    <img :src="'https://www.thecocktaildb.com/images/ingredients/' + cocktail['strIngredient' + i] + '-small.png'" style="height: 50px">
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>

<script>
    new Vue({
        el: '#jokes-envoyer',
        data: {
            searchInput: "Ordinary_Drink",
            timeSearch: null,
            widgetSelect: myApp.widgetSelect,
            cocktails: [],
        },
        computed: {
        },
        methods: {
            sendSearch() {
                let url = this.searchInput == 'random' ? 'https://www.thecocktaildb.com/api/json/v1/1/random.php' : this.widgetSelect.urlApiRequest + this.searchInput
                axios.get(url)
                    .then((response) => {
                        this.cocktails = response.data.drinks
                    })
            }
        },
        mounted() {
            this.sendSearch()
        }
    });
</script>