<div id="jokes-consulter">
    <div class="mb-4 bg-my-primary p-4 border rounded text-dark">
        <h5>Filtres</h5>
        <template
                v-if="findConfig('categories') >= 0"
                v-for="option in JSON.parse(widgetSelect.config[findConfig('categories')].value)"
        >
            <span class="mr-2">
                <input type='checkbox' v-model='optionsJoke' :id="option" :value='option'>
                <label :for="option">{{ option }}</label>
            </span>
        </template>
    </div>
    <template v-if="isLoading">
        <div class="spinner-border text-light" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </template>
    <template v-if="joke">
        <template v-if="joke.type == 'single'">
            <h4>{{ joke.joke }}</h4>
        </template>
        <template v-if="joke.type == 'twopart'">
            <h4>{{ joke.setup }}</h4>
            <h6>{{ joke.delivery }}</h6>
        </template>
    </template>
    <div>
        <button class="btn btn-outline-light mt-4" @click="getJoke">
            Blague suivante
        </button>
    </div>
</div>

<script>
    new Vue({
        el: '#jokes-consulter',
        data: {
            joke: {},
            widgetSelect: myApp.widgetSelect,
            isLoading: true,
            optionsJoke: [],
        },
        computed: {
            optionsString() {
                if (this.optionsJoke.length <= 0) {
                    this.optionsJoke.push("Any")
                }
                return this.optionsJoke.join();
            }
        },
        methods: {
            async getJoke() {
                this.isLoading = true
                this.joke = {}
                await axios.get(this.widgetSelect.urlApiRequest + '/' + this.optionsString)
                .then((response) => {
                    this.joke = response.data
                    this.isLoading = false
                })
            },

            findConfig(searchKeyword) {
                var i = 0;
                var saveIndex = -1;
                if (this.widgetSelect && this.widgetSelect.config.keyword !== 0) {
                    this.widgetSelect.config.forEach(element => {
                        if (element.keyword && element.keyword == searchKeyword) {
                            saveIndex = i;
                        }
                        i++;
                    });
                }

                return saveIndex;
            }
        },
        mounted() {
            this.getJoke()
            this.widgetSelect.config = JSON.parse(this.widgetSelect.config)
            console.log(this.widgetSelect.config[this.findConfig('categories')])
        }
    });
</script>