<div id="jokes-envoyer">

    <!-- content -->
    <div class="bg-my-primary p-4 rounded">
        <input class="form-control" placeholder="Rechercher un cocktail par ingrédient.." v-model="searchInput" @input="sendSearch">
    </div>

    <div class="mt-3" v-if="cocktails && cocktails.length <= 0">
        Aucun résultat
    </div>
    <div class="mt-3" v-if="cocktails && cocktails.length > 0">
        <h5 class="mb-4">Résultat pour <b>{{ searchInput }}</b> ({{ cocktails.length }})</h5>
        <template v-for="(cocktail, key) in cocktails">
            <div class="bg-my-primary rounded p-3 mb-3">
                <div class="text-center">
                    <img :src="cocktail.strDrinkThumb" class="w-50 rounded mb-3">
                    <h6>{{ cocktail.strDrink }}</h6>
                    <button class="btn btn-outline-light mt-2" @click="getDrink(key)" v-if="!cocktail.info.idDrink">Voir plus</button>
                    <div v-if="cocktail.info.idDrink">
                        <ul>
                            <template v-for="i in 15">
                                <li v-if="cocktail.info['strIngredient' + i]" class="mt-3">
                                    {{ cocktail.info['strIngredient' + i] }}
                                    <img :src="'https://www.thecocktaildb.com/images/ingredients/' + cocktail.info['strIngredient' + i] + '-small.png'" style="height: 50px">
                                </li>
                            </template>
                        </ul>
                        <div class="mt-4 border rounded p-3">
                            <small>{{ cocktail.info.strInstructions }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>

<script>
    new Vue({
        el: '#jokes-envoyer',
        data: {
            searchInput: "",
            timeSearch: null,
            widgetSelect: myApp.widgetSelect,
            cocktails: [],
        },
        computed: {
        },
        methods: {
            sendSearch() {
                if (this.searchInput.length > 0) {
                    clearTimeout(this.timeSearch);
                    this.timeSearch = setTimeout(() => {
                        axios.get(this.widgetSelect.urlApiRequest + this.searchInput)
                            .then((response) => {
                                response.data.drinks.forEach((item) => {
                                    item.info = {}
                                })
                                this.cocktails = response.data.drinks
                            })
                    }, 400);
                } else {
                    this.cocktails = []
                }
            },

            getDrink(index) {
                axios.get("https://www.thecocktaildb.com/api/json/v1/1/lookup.php?i=" + this.cocktails[index].idDrink)
                .then((response) => {
                    this.cocktails[index].info = response.data.drinks[0]
                    console.log(this.cocktails[index].info)
                })
            }
        },
        mounted() {
            this.sendSearch()
        }
    });
</script>