<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin dashboard</title>

    <title>Dashboard</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous"/>

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <style type="text/css">
        .my-rounded {
            border-radius: 20px;
        }

        .my-rounded-top {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .btn:focus {
            box-shadow: none;
        }

        .pointer {
            cursor: pointer;
        }

        .bg-my-primary {
            background: #222831 !important;
            color: #fff !important;
        }

        .bg-light-my-primary {
            background: #393e46 !important;
            color: #fff !important;
        }

        .bg-my-secondary {
            background: #bce6eb !important;
            color: #444 !important;
        }

        .text-my-secondary {
            color: #bce6eb !important;
        }

        .text-my-primary {
            color: #222831 !important;
        }
    </style>
</head>
<body>

<body class="bg-my-primary">
<div id="app">
    <!-- Modal -->
    <div class="modal fade" id="modalAddService" tabindex="-1" aria-labelledby="modalAddService" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="modalAddService">Ajouter un service</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-dark">
                        <div class="form-group">
                            <label for="nom">Nom</label>
                            <input type="text" class="form-control" id="nom" required v-model="formService.name">
                        </div>
                        <div class="form-group">
                            <label for="desc">Description</label>
                            <textarea type="text" class="form-control" id="desc" rows="3" required v-model="formService.description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="icon">Image Url</label>
                            <input type="text" class="form-control" id="icon" required v-model="formService.icon">
                        </div>
                        <div class="form-group">
                            <label for="default_website">Url du site de référence</label>
                            <input type="text" class="form-control" id="default_website" required v-model="formService.defaultWebsite">
                        </div>
                        <button class="btn bg-my-primary" @click="createService">
                            <i class="fas fa-save mr-2"></i> Enregistrer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal add widget -->
    <div class="modal fade" id="modalAddWidget" tabindex="-1" aria-labelledby="modalAddWidget" aria-hidden="true" v-if="serviceSelect">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="modalAddWidget">Ajouter un widget</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-dark">

                        <div class="mt-3">
                            <div class="border rounded p-3 mb-3">
                                <div class="form-group">
                                    <label for="nameWidget">Nom du widget</label>
                                    <input type="text" class="form-control" id="nameWidget" v-model="widgetForm.name">
                                </div>
                            </div>
                            <div class="border rounded p-3 mb-3">
                                <div class="form-group">
                                    <label for="urlApiRequest">Url de l'api</label>
                                    <input type="text" class="form-control" id="urlApiRequest" v-model="widgetForm.urlApiRequest">
                                </div>
                            </div>
                            <div class="border rounded p-3 mb-3">
                                <div class="form-group">
                                    <label for="urlApiRequest">Page de référence</label>
                                    <input type="text" class="form-control" id="page-reference" v-model="widgetForm.pageReference">
                                </div>
                            </div>
                            <div class="border rounded p-3 mb-3">
                                Type requête:
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="GET" checked v-model="widgetForm.typeApiRequest">
                                    <label class="form-check-label" for="exampleRadios1">
                                        GET
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="POST" v-model="widgetForm.typeApiRequest">
                                    <label class="form-check-label" for="exampleRadios2">
                                        POST
                                    </label>
                                </div>
                            </div>
                            <div class="mt-3 border rounded p-3">
                                <h6>Gestion des options</h6>
                                <template v-for="(input, key) in widgetForm.listInputs">
                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <input type="text" class="form-control" v-model="input.keyword" placeholder="Nom">
                                        </div>
                                        <div class="col-7">
                                            <input type="text" class="form-control" v-model="input.value" placeholder="Valeur">
                                        </div>
                                        <div class="col-1">
                                            <i class="fas fa-times text-danger mt-2" @click="removeListInput(key)"></i>
                                        </div>
                                    </div>
                                </template>
                                <button type="button" class="btn btn-primary" @click="addListInput">Ajouter une valeur</button>
                            </div>
                            <button type="button" class="btn btn-success mt-3" @click="saveWidget">Enregistrer le widget</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div :class="!isMobile ? 'mt-5 pt-5' : ''">
        <div
                class="container bg-light-my-primary shadow"
                :class="!isMobile ? 'my-rounded' : ''"
                style="min-height: 500px;"
        >
            <div class="p-5">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <h1><i class="fas fa-user-cog mr-3"></i></h1>
                        <div class="ml-2">
                            <h1 class="mb-0">Espace administrateur</h1>
                            <h6>Connecté en tant que <span th:text="${user.username}"></span></h6>
                        </div>
                    </div>
                    <form th:action="@{/logout}" method="post">
                        <button class="btn btn-outline-danger" type="submit">
                            <i class="fas fa-power-off mr-1"></i>Déconnexion
                        </button>
                    </form>
                </div>

                <div class="mt-4">
                    <div class="row">
                        <div class="col-6">
                            <div class="bg-my-primary rounded p-3 text-dark">
                                <h3>{{ services.length }}</h3>
                                <h6>Services</h6>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="bg-my-primary rounded p-3 text-dark">
                                <h3>{{ allWidgets.length }}</h3>
                                <h6>Widgets</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-4 row border-top pt-4">
                    <div class="col-4">
                        <ul class="list-group">
                            <template v-for="service in services">
                                <li
                                        class="list-group-item"
                                        :class="serviceSelect && serviceSelect.id == service.id ? 'bg-my-secondary' : 'text-dark'"
                                        @click="changeService(service)"
                                >
                                    {{ service.name }}
                                </li>
                            </template>
                        </ul>
                        <div class="spinner-border text-light mt-4" role="status" v-if="loadingService">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <button class="w-100 btn bg-white font-weight-bold btn-lg" :class="services && services.length > 0 ? 'mt-4' : ''" data-toggle="modal" data-target="#modalAddService">
                            <i class="fas fa-plus-circle mr-2"></i> Ajouter un service
                        </button>
                    </div>
                    <div class="col-8">
                        <div class="bg-white rounded" v-if="serviceSelect">
                            <div class="d-flex justify-content-between align-items-center bg-my-primary p-3">
                                <h3>{{ serviceSelect.name }}</h3>
                                <button class="btn btn-danger" @click="deleteService(serviceSelect.id)">
                                    <i class="fas fa-trash mr-2"></i>Supprimer le service
                                </button>
                            </div>
                            <div class="p-3">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <button class="btn btn-success mr-2" data-toggle="modal" data-target="#modalAddWidget">
                                        <i class="fas fa-plus mr-2"></i>Ajouter un widget
                                    </button>
                                    <div class="spinner-border spinner-border-sm text-dark" role="status" v-if="loadingWidget">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <template v-for="widget in serviceSelect.widgets">
                                    <div class="accordion" id="accordionWidget">
                                        <div class="card mb-3 bg-light">
                                            <div class="card-header" :id="'heading-' + widget.id">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" :data-target="'#collapse-' + widget.id" aria-expanded="false" :aria-controls="'collapse-' + widget.id">
                                                            {{ widget.name }}
                                                        </button>
                                                    </h2>
                                                    <div>
                                                        <span class="badge badge-warning" v-if="widget.typeApiRequest == 'POST'">POST</span>
                                                        <span class="badge badge-success" v-if="widget.typeApiRequest == 'GET'">GET</span>
                                                        <button class="btn btn-link" @click="deleteWidget(widget.id)"><i class="far fa-trash-alt text-danger mr-3"></i></button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div :id="'collapse-' + widget.id" class="collapse" :aria-labelledby="'heading-' + widget.id" data-parent="#accordionWidget">
                                                <div class="card-body bg-white text-dark">
                                                    <ul>
                                                        <li>{{ widget.name }}</li>
                                                        <li>{{ widget.page }}</li>
                                                        <li>{{ widget.urlApiRequest }}</li>
                                                        <li>{{ widget.name }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <template v-if="!serviceSelect">
                            <p>
                                Bienvenue sur l'espace administrateur,<br />
                                Ici tu peux gérer tout les services ainsi que les widgets.
                            </p>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
<!-- VueJS -->
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>

    new Vue({
        el: '#app',
        data: {
            windowWidth: window.innerWidth,
            serviceSelect: null,
            loadingService: false,
            loadingWidget: false,
            widgetForm: {
                name: "",
                listInputs: [],
                typeApiRequest: "",
                urlApiRequest: "",
                pageReference: "",
            },
            formService: {
                connectUrl: "",
                name: "",
                icon: "",
                defaultWebsite: "",
                description: "",
                pageReference: "",
            },
            services: [],
            allWidgets: [],
        },

        computed: {
            isMobile() {
                return this.windowWidth <= 768 ? true : false
            }
        },

        methods: {
            onResize() {
                this.windowWidth = window.innerWidth
            },

            /* -------------
                SERVICES
            ------------- */

            createService() {
                this.loadingService = true
                let formData = new FormData();
                formData.append('connectUrl', this.formService.connectUrl)
                formData.append('name', this.formService.name)
                formData.append('icon', this.formService.icon)
                formData.append('defaultWebsite', this.formService.defaultWebsite)
                formData.append('description', this.formService.description)
                formData.append('pageReference', this.formService.pageReference)

                console.log(formData)

                axios({
                    method: 'post',
                    url: '/service/create',
                    data: formData,
                    headers: {'Content-Type': 'multipart/form-data' }
                })
                    .then((response) => {
                        $('#modalAddService').modal('hide');
                        this.loadingService = false
                        this.resetFormService()
                        this.getServices()
                    })
            },

            deleteService(serviceId) {
                if (serviceId) {
                    this.loadingService = true
                    axios.get('/service/delete/' + serviceId)
                        .then((response) => {
                            this.loadingService = false
                            this.serviceSelect = null
                            this.getServices()
                        })
                }
            },

            resetFormService() {
                this.formService.connectUrl = ""
                this.formService.name = ""
                this.formService.icon = ""
                this.formService.defaultWebsite = ""
                this.formService.description = ""
                this.formService.pageReference = ""
            },

            getServices() {
                axios.get('/service/list')
                    .then((response) => {
                        this.services = response.data
                    })
            },

            getWidgets(serviceId) {
                this.loadingWidget = true
                if (serviceId) {
                    axios.get('/service/' + serviceId + '/widgets')
                        .then((response) => {
                            this.serviceSelect.widgets = response.data
                            this.loadingWidget = false
                        })
                }
            },

            changeService(service)
            {
                if (this.serviceSelect && this.serviceSelect.id == service.id) {
                    this.serviceSelect = null
                } else {
                    this.serviceSelect = service
                    this.getWidgets(service.id)
                }
            },

            /* -------------
                WIDGETS
            ------------- */

            getAllWidgets() {
                axios.get('/widgets/list')
                .then((response) => {
                    this.allWidgets = response.data
                })
            },

            addListInput() {
                this.widgetForm.listInputs.push({
                    keyword: "",
                    value: ""
                })
            },

            removeListInput(index) {
                this.widgetForm.listInputs.splice(index, 1);
            },

            resetFormWidget() {
                this.widgetForm.name = ""
                this.widgetForm.listInputs = ""
                this.widgetForm.urlApiRequest = ""
                this.widgetForm.typeApiRequest = ""
            },

            saveWidget() {
                if (this.serviceSelect) {
                    this.loadingWidget = true
                    let formData = new FormData();
                    formData.append('name', this.widgetForm.name)
                    formData.append('serviceId', this.serviceSelect.id)
                    formData.append('config', JSON.stringify(this.widgetForm.listInputs))
                    formData.append('urlApiRequest', this.widgetForm.urlApiRequest)
                    formData.append('typeApiRequest', this.widgetForm.typeApiRequest)
                    formData.append('page', this.widgetForm.pageReference)

                    axios({
                        method: 'post',
                        url: '/widget/create',
                        data: formData,
                        headers: {'Content-Type': 'multipart/form-data' }
                    })
                        .then((response) => {
                            $('#modalAddWidget').modal('hide');
                            this.loadingWidget = false
                            this.resetFormWidget()
                            this.getWidgets(this.serviceSelect.id)
                            this.getAllWidgets()
                        })
                }
            },

            deleteWidget(widgetId) {
                if (widgetId) {
                    this.loadingWidget = true
                    axios.get('/widget/delete/' + widgetId)
                        .then((response) => {
                            this.loadingWidget = false
                            this.getWidgets(this.serviceSelect.id)
                        })
                }
            }
        },

        mounted() {
            this.getServices()
            this.$nextTick(() => {
                window.addEventListener('resize', this.onResize);
            })
            this.getAllWidgets()
        },

        beforeDestroy() {
            window.removeEventListener('resize', this.onResize);
        },
    })
</script>
</body>
</html>