<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Dashboard</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <style type="text/css">
        .my-rounded {
            border-radius: 20px;
        }

        .my-rounded-top {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .btn:focus {
            box-shadow: none;
        }

        .pointer {
            cursor: pointer;
        }

        .bg-my-primary {
            background: #222831 !important;
            color: #fff !important;
        }

        .bg-light-my-primary {
            background: #393e46 !important;
            color: #fff !important;
        }

        .text-my-secondary {
            color :#bce6eb !important;
        }

        .bg-my-secondary {
            background: #bce6eb !important;
            color: #444 !important;
        }
    </style>
</head>
<body class="bg-my-primary">
<div id="app">

    <!-- Modal -->
    <div class="modal fade" id="modalAllServices" tabindex="-1" aria-labelledby="modalAllServicesLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="mt-5">
                        <div class="row">
                            <template v-for="(service, key) in services">
                                <div class="col-4 mb-3">
                                    <div class="card p-3 d-flex align-items-center pointer ">
                                        <img :src="service.icon" class="rounded" style="height: 20px" />
                                        <span class="mt-2">{{ service.name }}</span>
                                        <button class="btn btn-outline-primary btn-sm mt-2">Ajouter</button>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div :class="!isMobile ? 'mt-5 pt-5' : ''">
        <div
                class="container bg-light-my-primary shadow mb-4"
                :class="!isMobile ? 'my-rounded' : ''"
                style="min-height: 500px;"
        >
            <div class="p-5">
                <!-- Header -->
                <div class="border-bottom pb-3 mb-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="mb-0"><a href="/" style="text-decoration: none;" class="text-my-secondary">TekBoard</a></h3>
                        <div class="dropdown">
                            <button class="btn btn-link btn-profil" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img th:src="${user.avatar}" class="rounded-circle border shadow-sm" width="50">
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/update">
                                    <i class="fas fa-wrench mr-2"></i>Paramètres
                                </a>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item text-danger" type="submit">
                                        <i class="fas fa-power-off mr-2"></i>Déconnexion
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="alert alert-danger mt-3" role="alert" th:text="${error}" th:if="${error}"></div>
                <div class="alert alert-success mt-3" role="alert" th:text="${success}" th:if="${success}"></div>
                <!-- Body -->
                <div class="row">
                    <div class="col-8">
                        <template v-if="serviceSelect">
                            <!-- Display widget navbar -->
                            <ul class="nav nav-pills">
                                <template v-for="widget in widgetsList">
                                    <li class="nav-item">
                                        <button
                                                type="button"
                                                @click="changeWidget(widget)"
                                                class="btn btn-link nav-link mr-2"
                                                :class="widgetSelect && widgetSelect.id == widget.id ? 'active bg-my-secondary' : 'bg-light-my-primary border'"
                                        >
                                            {{ widget.name }}
                                        </button>
                                    </li>
                                </template>
                            </ul>
                            <template v-if="serviceSelect.length <= 0">
                                <small>Aucun widget</small>
                            </template>

                            <!-- Display widget list -->
                            <div class="mt-4">
                                <div class="dynamic-component"></div>
                            </div>
                        </template>
                        <template v-if="!serviceSelect">
                            <h1>Bienvenue,</h1>
                            <h4>Séléctionnes un service</h4>
                        </template>
                    </div>
                    <div class="col-4 border-left">
                        <button data-toggle="modal" data-target="#modalAllServices" class="btn btn-link w-100 text-white p-3 mb-3 d-flex align-items-center pointer border-bottom" style="text-decoration: none;">
                            <i class="fas fa-plus-circle"></i>
                            <span class="ml-2">Ajouter un service</span>
                        </button>
                        <template v-for="(service, key) in services">
                            <div
                            class="p-3 mb-2 d-flex align-items-center pointer"
                            :class="serviceSelect && serviceSelect.id == service.id ? 'font-weight-bold bg-my-primary rounded' : 'font-weight-light'"
                            @click="changeServiceSelect(service)"
                            >
                                <img :src="service.icon" class="rounded" style="height: 20px" />
                                <span class="ml-2">{{ service.name }}</span>
                            </div>
                        </template>
                        <template v-if="services.length <= 0">
                            Aucun service
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<!-- VueJS -->
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            windowWidth: window.innerWidth,
            services: [],
            serviceSelect: null,
            widgetSelect: {},
            widgetsList: [],
        },

        components: {
        },

        computed: {
            isMobile() {
                return this.windowWidth <= 768 ? true : false
            }
        },

        methods: {
            onResize() {
                this.windowWidth = window.innerWidth
            },

            /* ---------------
                Services
             -------------- */

            getServices() {
                axios.get('/service/list')
                    .then((response) => {
                        this.services = response.data
                    })
            },

            getWidgets(serviceId) {
                this.loadingWidget = true
                if (serviceId) {
                    axios.get('/service/' + serviceId + '/widgets')
                        .then((response) => {
                            this.widgetsList = response.data
                            this.loadingWidget = false
                        })
                }
            },

            changeServiceSelect(service) {
                if (this.serviceSelect && this.serviceSelect.id == service.id) {
                    this.serviceSelect = null
                } else {
                    this.serviceSelect = service
                    this.getWidgets(service.id)
                    this.widgetSelect = {}
                    $(".dynamic-component").html('')
                }
            },

            /* ---------------
                Widgets
             -------------- */
            changeWidget(widget) {
                this.widgetSelect = widget

                // Load widget page
                let pageName = widget.page
                $(document).ready(function () {
                    window.myApp = window.myApp || {};
                    window.myApp.widgetSelect = widget;

                    $(".dynamic-component").load(pageName);
                });
            }
        },

        mounted() {
            this.getServices();
            this.$nextTick(() => {
                window.addEventListener('resize', this.onResize);
            })
        },

        getData() {
            axios.get('https://sv443.net/jokeapi/v2/joke/Programming')
            .then((response) => {
                console.log(response.data)
            })
        },

        beforeDestroy() {
            window.removeEventListener('resize', this.onResize);
        },
    })
</script>
</body>
</html>