<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <style type="text/css">
        .my-rounded {
            border-radius: 20px;
        }

        .my-rounded-top {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        .pointer {
            cursor: pointer;
        }

        .bg-my-primary {
            background: #222831 !important;
            color: #fff !important;
        }

        .bg-light-my-primary {
            background: #393e46 !important;
            color: #fff !important;
        }

        .text-my-secondary {
            color :#bce6eb !important;
        }

        .bg-my-secondary {
            background: #bce6eb !important;
        }

        .img-card {
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 570px;
        }
    </style>
</head>
<body class="bg-my-primary">
<div id="app">
    <div :class="!isMobile ? 'mt-5 pt-5' : ''">
        <div class="container bg-light-my-primary shadow"
             style="border: 2px solid rgba(255, 255, 255, 0.2);"
             :class="!isMobile ? 'my-rounded' : ''"
        >
            <div class="row">
                <div
                        class="col-md-6 col-12 img-card"
                        :style="'background-image: url(' + imageUrl + ');'"
                        :class="!isMobile ? 'my-rounded' : ''"
                >
                </div>

                <div class="col-md-6 col-12 p-5"
                     :class="isMobile ? 'my-rounded-top bg-white mt-n4' : ''"
                >
                    <div class="h1 text-my-secondary">TekBoard</div>
                    <div class="h5 font-weight-light">Votre espace développeur</div>

                    <div class="alert alert-danger mt-3" role="alert" th:text="${error}" th:if="${error}"></div>
                    <div class="alert alert-success mt-3" th:if="${param.success}" role="alert">
                        Compte créé avec succès !
                    </div>

                    <form method="POST" class="mt-4">
                        <div class="form-login" v-if="isLogin">
                            <form th:action="@{/login}" method="post">
                                <div th:if="${param.error}" class="alert alert-danger">
                                    Nom d'utilisateur ou mot de passe incorrect
                                </div>
                                <div th:if="${param.logout}" class="alert alert-success">
                                    Vous avez été déconnecté
                                </div>
                                <input type="text" class="form-control mb-3" placeholder="Pseudo" id="username" name="username">
                                <input type="password" class="form-control mb-3" placeholder="Mot de passe" id="password" name="password">
                                <button class="btn bg-my-primary btn-lg" type="submit">
                                    Se connecter
                                    <small><i class="fas fa-arrow-right ml-2"></i></small>
                                </button>
                            </form>
                        </div>
                    </form>
                    <div class="form-register" v-if="!isLogin">
                        <form th:action="@{/register}" th:object="${user}" method="post">
                            <input type="email" required th:field="*{email}" class="form-control mb-3" placeholder="Email">
                            <input type="text" required th:field="*{username}" class="form-control mb-3" placeholder="Pseudo">
                            <input type="password" required th:field="*{password}" class="form-control mb-3" placeholder="Mot de passe">
                            <button class="btn bg-my-primary btn-lg" type="submit">
                                S'inscrire
                                <small><i class="fas fa-check ml-2"></i></small>
                            </button>
                        </form>
                    </div>
                    <hr />
                    <div v-if="isLogin">
                        <a class="btn bg-my-secondary" :href="gitlabUrl" style="max-width: 250px">
                            <span class="fab fa-gitlab"></span> Se connecter avec GitLab
                        </a>
                        <hr />
                        Pas encore inscrit ?
                        <u class="pointer" @click="changeForm()">
                            S'enregistrer
                        </u>
                    </div>
                    <div v-if="!isLogin">
                        Déjà inscrit ?
                        <u class="pointer" @click="changeForm()">
                            Se connecter
                        </u>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            isLogin: true,
            imageUrl: "https://source.unsplash.com/random?space",
            gitlabUrl: "https://gitlab.com/oauth/authorize?client_id=86cf94591e3dabe35b69d53e670e466f50c81a2b7d850d289fc5045129840c7f&redirect_uri=http://localhost:8080/connect-gitlab&response_type=token",
            windowWidth: window.innerWidth,
        },

        computed: {
            isMobile() {
                return this.windowWidth <= 768 ? true : false
            }
        },

        methods: {
            changeForm: function() {
                this.isLogin = !this.isLogin
            },

            onResize() {
                this.windowWidth = window.innerWidth
            },
        },

        mounted() {
            this.$nextTick(() => {
                window.addEventListener('resize', this.onResize);
            })
        },

        beforeDestroy() {
            window.removeEventListener('resize', this.onResize);
        },
    })
</script>
</body>
</html>