<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Dashboard</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <style type="text/css">
        .my-rounded {
            border-radius: 20px;
        }

        .my-rounded-top {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .pointer {
            cursor: pointer;
        }

        .bg-my-primary {
            background: #222831 !important;
            color: #fff !important;
        }

        .bg-light-my-primary {
            background: #393e46 !important;
            color: #fff !important;
        }

        .text-my-secondary {
            color: #bce6eb !important;
        }
    </style>
</head>
<body class="bg-my-primary">
<div id="app">
    <div :class="!isMobile ? 'mt-5 pt-5' : ''">
        <div class="container bg-light-my-primary shadow"
         :class="!isMobile ? 'my-rounded' : ''"
        >
            <div class="p-5">
                <!-- Header -->
                <div class="border-bottom pb-3 mb-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="mb-0"><a href="/" class="text-dark text-my-secondary" style="text-decoration: none;">TekBoard</a></h3>
                        <div class="dropdown">
                            <button class="btn btn-link btn-profil" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img th:src="${user.avatar}" class="rounded-circle border shadow-sm" width="50">
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/update">
                                    <i class="fas fa-wrench mr-2"></i>Paramètres
                                </a>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item text-danger" type="submit">
                                        <i class="fas fa-power-off mr-2"></i>Déconnexion
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Body -->
                <h4>Paramètres</h4>
                <form method="POST" class="my-4">
                    <div class="form-group">
                        <label for="pseudo">Pseudo</label>
                        <input type="email" class="form-control" id="pseudo" aria-describedby="pseudoHelp" th:value="${user.username}" disabled>
                        <small id="pseudoHelp" class="form-text text-muted">Le pseudo ne peut pas être modifié</small>
                    </div>

                    <div class="form-group mb-4">
                        <form th:action="@{/update}" th:object="${user}" method="post">
                            <div class="alert alert-danger mt-3" role="alert" th:text="${error}" th:if="${error}"></div>
                            <div class="alert alert-success mt-3" role="alert" th:text="${success}" th:if="${success}"></div>
                            <label for="password">Mot de passe</label>
                            <input type="password" required th:field="*{password}" class="form-control" id="password">
                            <button type="submit" class="btn bg-my-primary">
                                Modifier
                            </button>
                        </form>
                    </div>
                    <a href="/" class="btn btn-outline-my-primary text-white ml-2">
                        Annuler
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<!-- VueJS -->
<script src="https://unpkg.com/vue"></script>    <script>
    new Vue({
        el: '#app',
        data: {
            windowWidth: window.innerWidth,
        },

        computed: {
            isMobile() {
                return this.windowWidth <= 768 ? true : false
            }
        },

        methods: {
            onResize() {
                this.windowWidth = window.innerWidth
            }
        },

        mounted() {
            this.$nextTick(() => {
                window.addEventListener('resize', this.onResize);
            })
        },

        beforeDestroy() {
            window.removeEventListener('resize', this.onResize);
        },
    })
</script>
</body>
</html>